scrapy
scrapy-playwright
celery[redis]
fastapi
uvicorn[standard]
psycopg2-binary
httpx
beautifulsoup4
curl_cffi
dateparser==1.2.0
playwright-stealth==1.0.6
croniter
alembic
sqlalchemy==1.4.52
trafilatura
markdownify
lxml
qdrant-client
pypdf
requests
pytz
jdatetime
python-dateutil
urllib3
scrapy-redis
redis
celery-sqlalchemy-scheduler
pypinyin
